/* stylelint-disable selector-no-qualifying-type */
.editor-container {
  border: 1px solid var(--color-border-3);
  box-sizing: border-box;
  margin: 5px;
  position: relative;

  .editable-node {
    padding: 10px;
  }

  div[data-node] {
    padding: 1px 0;
  }
}
