.block-kit-editor {
  outline: none;
  overflow-wrap: break-word;
  position: relative;
  white-space: pre-wrap;
  word-break: break-word;
}

.block-kit-editor[contentEditable='true'] {
  outline: none;
}
